<div class="container">

  <div class="col-md">
    <h1>Cadastro de Cônvenio</h1>
  </div>

  <div class="col-md">
    <hr>
  </div>

  <div class="col-md">
    <form #convenioForm="ngForm" (ngSubmit)="(convenioForm)" autocomplete="off">

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" required name="nome" #nome="ngModel" ngModel>
          <app-message [control]="nome" error="required" text="Preencha este campo."></app-message>
        </div>
        <div class="col-md-4 mb-3">
          <label for="numero">Número</label>
          <input type="text" class="form-control" id="numero" required name="numero" #numero="ngModel" ngModel>
          <app-message [control]="numero" error="required" text="Preencha este campo."></app-message>
        </div>
        <div class="col-md-4 mb-3">
          <label for="tel">Telefone</label>
          <input type="text" class="form-control" id="tel">
        </div>
        <div class="col-md-12 mb-3">
          <label for="obs">Observação</label>
          <textarea id="obs" cols="30" rows="3" class="form-control"></textarea>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Salvar</button>
      <button class="btn btn-outline-primary" routerLink="/diversos/convenio"><i class="fa fa-search">Voltar para a pesquisa</i></button>

    </form>
  </div>
</div>
