<div class="container">

  <div class="col-md">
    <h1>Cadastro de Tipo de Recebimento</h1>
  </div>

  <div class="col-md">
    <hr>
  </div>

  <div class="col-md">
    <form>

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" required>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Salvar</button>
      <button class="btn btn-outline-primary" routerLink="/diversos/tipo-recebimento">
        <i class="fa fa-search">Voltar para a pesquisa</i></button>

    </form>
  </div>
</div>
