<div class="container">

  <div class="col-md">
    <h1>Cadastro de Contas a Pagar</h1>
  </div>

  <div class="col-md">
    <hr>
  </div>

  <div class="col-md">
    <form #contasPagarForm="ngForm" (ngSubmit)="(contasPagarForm)" autocomplete="off">

      <div class="form-row">
        <div class="ui-fluid ui-g-6 ui-sm-12">
          <label>Descrição</label>
          <input type="text" pInputText id="descricao" required ngModel name="descricao" #descricao="ngModel">
          <app-message [control]="descricao" error="required" text="Preencha este campo."></app-message>
        </div>
        <div class="ui-fluid ui-g-3 ui-sm-12">
          <label>Categoria</label>
          <p-dropdown [options]="categorias" [autoWidth]="false" placeholder="Selecione" name="categoria"
                      ngModel #categoria [filter]="true"></p-dropdown>
        </div>
        <div class="ui-fluid ui-g-3 ui-sm-12">
          <label>Conta Bancária</label>
          <p-dropdown [options]="contas" [autoWidth]="false" placeholder="Selecione" name="conta"
                      ngModel #conta></p-dropdown>
        </div>
      </div>
      <div class="form-row">
        <div class="ui-fluid ui-g-2 ui-sm-12">
          <label for="dtCompetencia">Data de competência</label>
          <p-calendar [locale]="pt" dateFormat="dd/mm/yy" [showIcon]="true"
                      [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" id="dtCompetencia"
                      ngModel name="competencia" required #competencia="ngModel"></p-calendar>
          <app-message [control]="competencia" error="required" text="Preencha este campo."></app-message>
        </div>
        <div class="ui-fluid ui-g-2 ui-sm-12">
          <label for="dtVencimento">Data de vencimento</label>
          <p-calendar [locale]="pt" dateFormat="dd/mm/yy" [showIcon]="true"
                      [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" id="dtVencimento"
                      ngModel name="vencimento" required #vencimento="ngModel"></p-calendar>
          <app-message [control]="vencimento" error="required" text="Preencha este campo."></app-message>
        </div>
        <div class="ui-fluid ui-g-6">
          <label>Fornecedor</label>
          <p-dropdown [options]="fornecedores" [autoWidth]="false" placeholder="Selecione" name="fornecedor"
                      ngModel #fornecedor [filter]="true"></p-dropdown>
        </div>
        <div class="ui-fluid ui-g-2 ui-sm-12">
          <label for="valor">Valor</label>
          <input type="text" pInputText id="valor" required ngModel name="valor" #valor="ngModel">
          <app-message [control]="valor" error="required" text="Preencha este campo."></app-message>
        </div>
      </div>

      <div class="form-row">
        <div class="ui-fluid ui-g-4 ui-sm-12">
          <p-checkbox name="repetir" value="repetir" label="Repetir?" inputId="repetir"></p-checkbox>
          <p-dropdown [options]="periodos" [autoWidth]="false" placeholder="Selecione" name="periodo"
                      ngModel #periodo></p-dropdown>
        </div>
        <div class="ui-fluid ui-g-2 ui-sm-12">
          <label>Quantas vezes?</label>
          <input type="text" pInputText id="ocorrencias" ngModel name="ocorrencias"
                 #ocorrencias="ngModel" style="width: 50px">
        </div>
      </div>

      <div class="mt-3">
        <button class="btn btn-primary" type="submit">Salvar</button>
        <button class="btn btn-outline-primary" routerLink="/financeiro/contas-pagar"><i class="fa fa-search"></i>Voltar para a pesquisa</button>
      </div>

    </form>
  </div>
</div>
