<div class="container">

  <div class="col-md">
    <h1>Cônvenios</h1>
  </div>

  <div class="col-md">
    <hr>
  </div>

  <div class="col-md">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-outline-secondary fa fa-check-square-o"
                pTooltip="Selecionar todos" tooltipPosition="top"></button>
        <button type="button" class="btn btn-outline-secondary fa fa-trash-o"
                pTooltip="Excluir" tooltipPosition="top"></button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-secondary fa fa-plus"
                pTooltip="Novo" tooltipPosition="top" routerLink="/diversos/convenio/novo"></button>
      </div>
      <div class="input-group ml-auto">
        <input type="text" class="form-control" placeholder="Estou procurando...">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon2"><a href="#" class="fa fa-search"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md" style="margin-top: 10px">
    <p-dataTable [value]="convenios" [paginator]="true" [rows]="3" [responsive]="true">
      <p-column styleClass="col-check">
        <ng-template pTemplate="body">
          <input type="checkbox">
        </ng-template>
      </p-column>
      <p-column field="id" header="Id" styleClass="col-id"></p-column>
      <p-column field="nome" header="Nome" styleClass="col-150"></p-column>
      <p-column field="numero" header="Número" styleClass="col-90"></p-column>
      <p-column field="telefone" header="Telefone" styleClass="col-120"></p-column>
      <p-column field="observacao" header="Observação"></p-column>
      <p-column styleClass="col-acoes">
        <ng-template pTemplate="body">
          <a href="#" class="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
          <a type="button" class="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"></a>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

</div>
