<div class="container">

  <div class="col-md">
    <h1>Secretarias</h1>
  </div>

  <div class="col-md">
    <hr>
  </div>

  <div class="col-md">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-outline-secondary fa fa-check-square-o"
                pTooltip="Selecionar todos" tooltipPosition="top"></button>
        <button type="button" class="btn btn-outline-secondary fa fa-trash-o"
                pTooltip="Excluir" tooltipPosition="top"></button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-secondary fa fa-plus"
                pTooltip="Novo" tooltipPosition="top" routerLink="/diversos/secretaria/novo"></button>
      </div>
      <div class="input-group ml-auto">
        <input type="text" class="form-control" placeholder="Estou procurando...">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon2"><a href="#" class="fa fa-search"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md" style="margin-top: 10px">
    <app-table-dynamic [dados]="dados" [cols]="cols"></app-table-dynamic>
  </div>

</div>
