<div class="container">

  <div class="col-md clearfix">
  <div class="float-left ml-auto">
    <h1>Cadastro de Cliente</h1>
  </div>
  <div class="float-right mr-auto">
    <button class="btn btn-outline-primary" routerLink="/instancias/cliente"><i class="fa fa-search"></i>Voltar para a pesquisa</button>
  </div>
  </div>

  <div class="col-md">
    <hr>
  </div>

  <div class="ui-g-12">
    <form #clienteForm="ngForm" (ngSubmit)="salvar(clienteForm)">

      <div class="ui-g-12">

        <div class="ui-fluid ui-g-2 ui-sm-12">
          <label for="cpf">CPF</label>
          <input type="text" id="cpf" pInputText>
        </div>
        <div class="ui-fluid ui-g-2 ui-sm-12">
          <label for="rg">RG</label>
          <input type="text" id="rg" pInputText>
        </div>
        <div class="ui-fluid ui-g-4 ui-sm-12">
          <label for="nome">Nome</label>
          <input type="text" id="nome" pInputText>
        </div>
        <div class="ui-fluid ui-g-2 ui-sm-12">
          <label for="nasc">Nascimento</label>
          <p-calendar [(ngModel)]="dateValue" [locale]="pt" dateFormat="dd/mm/yy" [showIcon]="true"
                      [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2030" id="nasc"
                      ngModel name="nascimento"></p-calendar>
        </div>
        <div class="ui-fluid ui-g-2 ui-sm-12">
          <label>Sexo</label>
          <p-selectButton [options]="types"></p-selectButton>
        </div>
      </div>

      <div class="ui-g-12">

        <div class="ui-fluid ui-g-3 ui-sm-12">
          <label for="pai">Nome do Pai</label>
          <input type="text" id="pai" pInputText>
        </div>
        <div class="ui-fluid ui-g-3 ui-sm-12">
          <label for="mae">Nome da Mãe</label>
          <input type="text" id="mae" pInputText>
        </div>
        <div class="ui-fluid ui-g-2 ui-sm-12">
          <label for="nome">Nome</label>
          <p-dropdown [options]="tiposSocios"></p-dropdown>
        </div>
        <div class="ui-fluid ui-g-2 ui-sm-12">
          <label for="nasc">Nascimento</label>

        </div>

      </div>
      <p-tabView [activeIndex]="index">

        <p-tabPanel header="Contato" leftIcon="fa fa-address-book">
          <div class="form-row">
            <!--<div class="col-md">
              <button type="button" class="btn btn-info" (click)="openPrev()">Anterior</button>
              <button type="button" class="btn btn-info" (click)="openNext()">Próximo</button>
            </div>-->
          </div>
        </p-tabPanel>
        <p-tabPanel header="Dados Bancários" leftIcon="fa fa-credit-card">
          Content 3
        </p-tabPanel>
        <p-tabPanel header="Dependentes" leftIcon="fa fa-users">
          <div class="form-row">
            <label for="tel2">Telefone</label>
            <input type="text" class="form-control" id="tel2">
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </div>
</div>
