<div class="container">

  <div class="col-md clearfix">
  <div class="float-left ml-auto">
    <h1>Cadastro de Cliente</h1>
  </div>
  <div class="float-right mr-auto">
    <button class="btn btn-outline-primary" routerLink="/instancias/cliente"><i class="fa fa-search"></i>Voltar para a pesquisa</button>
  </div>
  </div>

  <div class="col-md">
    <hr>
  </div>

  <div class="col-md">
    <form>
      <p-tabView [activeIndex]="index">
        <p-tabPanel header="Dados Pessoais" leftIcon="fa fa-user">
          <div class="form-row col-md-12 mt-3">
            <div class="form-group col-md-3">
              <label for="cpf">CPF</label>
              <input type="text" class="form-control" id="cpf" required>
            </div>
            <div class="form-group col-md-2">
              <label for="rg">RG</label>
              <input type="text" class="form-control" id="rg" required>
            </div>
            <div class="form-group col-md-4">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome">
            </div>
            <div class="col-md-3">
              <label for="nasc">Nascimento</label>
              <p-calendar [(ngModel)]="dateValue" [locale]="pt" dateFormat="dd/mm/yy" [showIcon]="true"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="1930:2030" id="nasc"></p-calendar>
            </div>
            <!--<div class="col-md">
              <button type="button" class="btn btn-info" (click)="openNext()">Próximo</button>
            </div>-->

            <div class="form-row col-md-12">
                <div class="col-md-2" style="margin-right: -40px">
                  <label>Sexo</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="sexo" id="masc" value="Masculino" checked>
                      <label class="form-check-label" for="masc">
                        Masculino
                      </label>
                    </div>
                </div>
              <div class="col-md-2 mt-2 mr-auto">
                <label></label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="sexo" id="fem" value="Feminino">
                      <label class="form-check-label" for="fem">
                        Feminino
                      </label>
                    </div>
                </div>
              <div class="form-group col-md-4">
                <label for="pai">Nome do Pai</label>
                <input type="text" class="form-control" id="pai">
              </div>
              <div class="form-group col-md-4">
                <label for="mae">Nome da Mãe</label>
                <input type="text" class="form-control" id="mae">
              </div>
            </div>

            <div class="form-row col-md-12">

              <div class="form-group col-md-4">
                <label for="civil">Estado Civil</label>
                <select class="form-control" id="civil">
                  <option value="">Selecione:</option>
                  <option value="S">Solteiro (a)</option>
                  <option value="C">Casado (a)</option>
                  <option value="U">União Estável</option>
                  <option value="D">Divorcidado (a)</option>
                  <option value="V">Viúvo (a)</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="socio">Tipo de Sócio</label>
                <select class="form-control" id="socio">
                  <option value="">Selecione:</option>
                  <option value="1">Sócio Contribuinte</option>
                  <option value="2">Funcionário Público</option>
                  <option value="3">Dependente Especial</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="sec">Secretaria</label>
                <select class="form-control" id="sec">
                  <option value="">Selecione:</option>
                </select>
              </div>

            </div>

            <div class="form-row col-md-12">

              <div class="form-group col-md-12">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email">
              </div>

            </div>

            <div class="form-row col-md-12">
                <div class="form-group col-md-12">
                  <label>Foto 3x4</label>
                  <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                                multiple="multiple" accept="image/*" maxFileSize="1000000">
                    <ng-template pTemplate="content">
                      <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                      </ul>
                    </ng-template>
                  </p-fileUpload>
                </div>
            </div>

            <div class="form-row col-md-12">

              <div class="form-group col-md-12">
                <label for="obs">Observação</label>
                <textarea class="form-control" id="obs" cols="30" rows="3"></textarea>
              </div>

            </div>

          </div>
        </p-tabPanel>
        <p-tabPanel header="Contato" leftIcon="fa fa-address-book">
          <div class="form-row">
            <!--<div class="col-md">
              <button type="button" class="btn btn-info" (click)="openPrev()">Anterior</button>
              <button type="button" class="btn btn-info" (click)="openNext()">Próximo</button>
            </div>-->
          </div>
        </p-tabPanel>
        <p-tabPanel header="Dados Bancários" leftIcon="fa fa-credit-card">
          Content 3
        </p-tabPanel>
        <p-tabPanel header="Dependentes" leftIcon="fa fa-users">
          <div class="form-row">
            <label for="tel2">Telefone</label>
            <input type="text" class="form-control" id="tel2">
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>
  </div>
</div>
