/* You can add global styles to this file, and also import other style files */

.navbar{
  padding: 12px 0;
  background-color: #1e94d2;
  z-index: 9998;
}

.navbar-toggler{
  color: #fff;
}

.status-span{
  text-transform: uppercase;
}

.badge-warning{
  color: #fff;
}

